# Đây là mẫu tệp .env. Bạn có thể sao chép nó thành .env và chỉnh sửa các giá trị theo nhu cầu của bạn.
# Đây là phần cấu hình cơ sở dữ liệu MySQL
DB_USERNAME=example_user # Tên người dùng cơ sở dữ liệu
DB_PASSWORD=example_password # Mật khẩu cơ sở dữ liệu
# Đây là phần cấu hình email cho tính năng gửi mã xác thực khi quên mật khẩu
MAIL_USERNAME=example@example.com # Tên tài khoản email
MAIL_PASSWORD=example_password # Mật khẩu ứng dụng của email